@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Please select from below options to proceed</p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Author/Index"> Author </a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Blog/Index">Blog</a></p>
</div>
